article.content-article .horario{
   font-size: 80%;
   color: #303030;
   line-height: 25px;
}
article.content-article h1{
   line-height: 32px;
   letter-spacing: -1px;
}
article.content-article hr{
   margin: 0;
}
article.content-article p.author{
   font-weight: bold;
   font-size: 75%;
   letter-spacing: 0px;
}
article.content-article figure{
   margin-right: 20px;
   position: relative;
   float: left;
}
article.content-article figure figurecaption{
   background: #f1f1f1;
   color: #636363;
   font-size: 90%;
   display: block;
   padding: 0px 5px 0px 5px;
}
article.content-article .tools-content {
   margin-top: 10px;
}

.last-contents{
   border: 1px solid #d5dceb;
   padding-bottom: 20px;
	   font-size: 80% !important;
   border-radius: 10px;
   margin-bottom: 30px;
}
.related-contents{
   margin-bottom: 30px;
}
