a.icon-navbar{
   margin-right: 60px;
   height: 147px;
   width: 206px;
   background-repeat: none;
}
/* navbar oi*/
.navbar-custom {
    background-color: #fff;
    border-bottom-color: #ccc;
    box-shadow: 0px 1px 5px #dadada;
    border-radius: 0px !important;
    height: 200px;
    position: relative;
}
.navbar-content{
    bottom: 0;
    position: absolute;
    width: inherit;
}
/* title */
.navbar-custom .navbar-brand {
    color: #133984;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    transition: color .1s linear 0.1s, background-color .2s linear 0.1s;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #205fdd;
    background-color: #fff;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #555;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #133984;
/*    background-color: #D5D5D5;  */
    background-color: #fff;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
    transition: color .1s linear 0.1s, background-color .2s linear 0.1s;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #205fdd;
    border-bottom-color: #205fdd;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #133984;
    border-bottom-color: #133984;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
    transition: color .1s linear 0.1s, background-color .2s linear 0.1s;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #205fdd;
    background-color: #fff;
}
