span.categoria-banner{
   text-transform: uppercase;
   padding: 10px;
   color: #fff;
   z-index: 5;
   position: absolute;
   right: 0;
}

figure {
   position: relative;
}

figure figcaption {
   position: absolute;
   bottom: 0;
<<<<<<< HEAD
   left: 0;
   padding: 0;
   margin: 0;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba( 0, 0, 0, 1));   
   height: 170px;
}
.carousel-caption h3 {
   font-weight: 900;
   font-size: 200%;
   text-shadow: 4px 4px 4px 4px black;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 50px;
}


.carousel-indicators {
   position: absolute;
   bottom: -5px;
   display: block-inline;
}

article.publicacao{
   height: 80px;
   border-bottom: 1px dotted #eaeaea;
=======
>>>>>>> 81393f3bcd4bdd033c04feaacf7a519bbf659bc6
   color: black;
   width: 100%;
   background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.9));
   font-size: 150%;
   color: white;
   font-weight: 700;
   letter-spacing: -1px;
   text-shadow: 1px 1px 4px #252525;
   padding: 10px;
   
}

.section {
    border-top: 2px solid #0087d0;
    background: white;
    padding-right: 0;
    margin-bottom: 30px;
}
.section a.categoria,
.aside a.categoria {
    color: black;
}
.section h2, .aside h2{
    text-transform: uppercase;
    color: black;
    font-size: 150%;
    line-height: 25px;
    margin: 0;
    padding: 10px 0px 10px 0px;
}
.aside h2{
    margin-top: -10px;
}

.section .article, .section .sub-article,
.aside .article, .aside .sub-article {
    margin-bottom: 20px;
}
.section .article > a, .section .sub-article > a,
.aside .article > a, .aside .sub-article > a{
    color: #333;
}
.section .sub-article, 
.aside .sub-article {
    max-height: 115px;
    overflow: hidden;
}
.section .sub-article a .hora,
.aside .sub-article a .hora {
   font-size: 90%;
   line-height: 18px;
   margin: 0;
   padding: 0;
   overflow: hidden;
   color: #626262;
}
.section .sub-article a:hover,
.aside .sub-article a:hover {
   text-decoration: none;
}
.section .sub-article a:hover .titulo,
.aside .sub-article a:hover .titulo {
   text-decoration: underline;
}
.section .sub-article img,
.aside .sub-article img {
    float: left;
    margin-right: 15px;
}
.section .sub-article,
.aside .sub-article {
    line-height: 20px;
}
a.categoria-artigo {
    font-size: 90%;
    padding: 7px;
    margin-left: -15px;
    color: white !important;
    bottom: 0;
    position: absolute;
}
a.categoria-artigo:hover {
    text-decoration: underline !important;
}

/*
*  CAROUSEL CUSTOM
*/
.carousel {
    margin-bottom: 20px
}

/*
*  CONTEUDO - PAGINA DO ARTIGO
*/
.detalhes-publicacao, .lista{
    background: white;
    border-top: 2px solid #0087d0;
    color: #747474;
}
.detalhes-publicacao h1,
.detalhes-publicacao h2,
.detalhes-publicacao h3,
.detalhes-publicacao h4,
.detalhes-publicacao h5 {
    color: black;
}
.detalhes-publicacao img {
    margin: 10px 10px 10px 0px;
}
.breadcrumb {
    border-radius: 0;
    margin-top: 10px;
    font-size: 90%;
    background: white;
}
h1.titulo {
    font-weight: bold;
    font-size: 250%;
    letter-spacing: -1px;
}

/*
*   PANELS
*/

.panel-default {
    border-radius: 0;
}
.panel-default>.panel-heading {
    border-width: 0;
    border-radius: 0;
    border-top: 2px solid #0087d0;
}

.lista h3.titulo-pagina {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.lista .lista-item {
    line-height: 25px;
    margin-bottom: 20px;
}
.lista .lista-item a h2 {
    line-height: 25px;
    margin: 0;
    padding: 0;
    color: black;
    transition: linear .1s;
}
.lista .lista-item a:hover {
    text-decoration: none !important;
}
.lista .lista-item a:hover h2 {
    color: #777;
}
.lista .lista-item img {
    float: left;
    margin: 0px 10px 10px 0px;
}

/*
* GALERIA
*/
img.img-galeria {
    width: 100%;
}
a {
   transition: easy .2s;
}
a:hover > img {
    opacity: .9;
}

/*
*
*  CALENDAR
*
*/
#calendar thead tr th {
   padding: 10px;
}
#calendar .fc-state-highlight {
   background: #E3F4FC;
}
#calendar .fc-day:hover { 
   cursor: hand;
   background-color: #d9f2ff;
}
#calendar .fc-today:hover { 
   background-color: #0087d0;
   color: #fff;
}
#calendar .fc-today { 
   font-size: 150%;
   font-weight: bold;
}
#calendar a:hover {
   color: #3e6374;
   background: #88d9ff;
}


 
/*
*
*  FACEBOOK
*
*/
.fbFeedbackContent .composer {
   width: 100%;
}


.social-icon {
   height: 24px;
   width:24px;
   background-repeat: none;
   background-position: center center;
   display: block;
   float: left;
   margin-right: 10px;
}
.social-icon:hover {
    opacity: .9;
}
.social-icon-facebook { background-image: url('../img/facebook.png') }
.social-icon-twitter { background-image: url('../img/twitter.png') }
.social-icon-google { background-image: url('../img/google.png') }
