{% load thumbnail %}
<div id="main-carousel" class="carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    </ol>
       <!-- Wrapper for slides -->
       <div class="carousel-inner">
       	  {% for banner in banners %}
          <div class="item {% if forloop.counter == 1 %}active{% endif %}">
             <img src="{% thumbnail banner.get_image 400x200 sharpen %}" alt="{{ banner.nome }}">
             <div class="carousel-caption">
                 <h3>{{ banner.nome }}</h3>
                 <p style="text-align: center"><a class="btn btn-lg btn-primary" href="#" role="button">Leia mais</a></p>
             </div>
          </div>
          {% endfor %}
       </div>
     
       <!-- Controls -->
       <a class="left carousel-control" href="#main-carousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a class="right carousel-control" href="#main-carousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
    </div>
</div>
