{% load portal %}
{% load thumbnail %}
{% for tipo_publicacao in tipos_publicacao %}
    <div class="col-md-4 publicacao-comum">
    	<a href="{{ tipo_publicacao.get_absolute_url }}" class="nome-categoria" style="">{{ tipo_publicacao }}</a>
        {% for publicacao in tipo_publicacao|pub_por_tipo %}
        <a href="{{ publicacao.get_absolute_url }}" style="color: {{ tipo_publicacao.cor }}">
            {% if forloop.counter = 1 %}
               {% if publicacao.get_image %}
                  <img src="{% thumbnail publicacao.get_image 350x150 crop %}">
               {% endif %}
               <h3 class="publicacao-principal">{{ publicacao }}</h3>
            {% else %}
               <p>{{ publicacao }}</p>
            {% endif %}
        </a>
        {% endfor %}
    </div>
{% endfor %}
<!--
<a href="{{ publicacao.get_absolute_url }}">
    {% if forloop.counter = 1 %}
       <h3 class="publicacao-principal">{{ publicacao }}</h3>
    {% else %}
       <p>{{ publicacao }}</p>
    {% endif %}
</a>
-->
