
{% load menus %}
{% load static %}
{% load i18n %}
<! DOCTYPE html>
<html lang="pt-br">
   <head>
      <!-- METATAGS -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title></title>

      <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/holder.js' %}"></script>

      {% block head-link %}
         <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
         {% menu_css %}
      {% endblock %}

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]--> 

      {% block css %}{% endblock %}

      <script src="{% static 'custom/js/modernizr.custom.js' %}"></script>
   </head>
   <body role="document">

      <a href="javascript:void(0)" class="back-to-top"></a>
      <script>
         $('.back-to-top').click(function(){
            $('html,body').animate({scrollTop: 0}, 500);
            return false;
         });
      </script>

      {% load menus %}
      {% menu_list %}
      {% block breadcrumb %}{% endblock %}

      <div class="container">
         <div class="row">
            <div class="col-md-12">
  	       {% block content %}{% endblock %}
      	    </div>
         </div>
      </div>

       
   </body>
</html>
