<! DOCTYPE html>
<html lang="pt-BR">
<head>
   <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="{{ MEDIA_URL }}js/jquery-1.11.0.min.js" type="text/javascript"></script>
   <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   {% load bootstrap_calendar %}   
   <!-- CALENDAR -->
   {% bootstrap_calendar_css %}
   
</head>
<body>
	{% include "languages.html" %}
	{% load i18n %}
	{% get_current_language as current_lang %}
	
	<div class="col-md-4">
	<h3>Calendário</h3>
	   <!-- CALENDAR PLUGIN -->
	   
	   Calendar controls :
	   {% bootstrap_controls '' %}
	   Calendar:
	   {% bootstrap_calendar '' %} 
	   
	   {% bootstrap_calendar_js language=current_lang %}
	   {% bootstrap_calendar_init language=current_lang %}
	   
   </div>
   
   {% load scheduletags %}

   
   
</body>