<div class="panel panel-default">
   <div class="panel-heading" style="background: white; font-weight: bold; font-size: 120%; color:#292f33;">
       <span class="glyphicon glyphicon-plus"></span> Google
   </div>
  <div class="panel-body">
      <!-- Posicione esta tag onde você deseja que o widget apareça. -->
      <div class="g-person" data-href="https://plus.google.com/116079520313077873437" data-rel="author"></div>
      
      <!-- Posicione esta tag depois da última tag do widget. -->
      <script type="text/javascript">
        window.___gcfg = {lang: 'pt-BR'};
      
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
  </div>
</div>

