{% extends "base.html" %}
{% load portal %}
{% load fullcalendar_tags %}
{% block head-link %}
   {{ block.super }}
   {% portal_css %}
   
   {% fullcalendar_css %} 
   {% fullcalendar_print_css %} 

{% endblock %}
 
{% block prev-content %}
   <div class="row">
      {% banner_principal %}
   </div>
{% endblock %}

{% block content %}

   <div style="clear: both"></div>

   <section class="col-md-8">
        <div class="row">
            {% galeria_destaque %}
            {% pub_comum %}
        </div>
   </section>

   {% include "social.html" %}
 
{% endblock %}
