{% extends "base.html" %}
{% load portal %}
{% block head-link %}
   {{ block.super }}
   {% portal_css %}
{% endblock %}
{% block content %}
<div class="row">
   <div class="col-md-5" style="margin-bottom: 20px">
      {% banner_principal %}
   </div>
   <div class="col-md-7" style="padding-left: 0;">
      <div class="col-md-6">
         {% pub_destaque %}
      </div>
      <div class="col-md-6">
         {% pub_destaque %}
      </div>
   </div>
</div>

<div style="clear: both">

<div class="row">
   {% pub_comum %}
</div>

</div>

{% endblock %}
