
                 <div class="col-md-12 aside">

                      <h2>
                           <span class="glyphicon glyphicon-fire"></span>
                           <a href="#" class="categoria">MAIS VISTOS</a>
                      </h2>

                       <div class="row">
                           <div class="col-md-12 article">
                              <a href="#">
                                  <span class="categoria-banner" style="background: #ec0000">CONQUISTAS DOS ALUNOS</span>
                                  <figure>
                                      <img src="../static/js/holder.js/sky/100%x250/#fff/auto/">
                                      <figcaption>TESTE DE GALERIA </figcaption>
                                  </figure>
                              </a>
                       </div>
     
                       <div class="col-md-12 sub-article">
                             <a href="#">
                                  <img src="../static/js/holder.js/sky/100x96/#fff/auto/">
                                  <p class="hora">
                                       <span class="glyphicon glyphicon-time"></span>
                                       publicado ha 2 semanas
                                  </p>
                                  <p class="titulo">TESTE DE GALERIA COM TODOS OS CARACTERES POSSIVEIS 124</p>
                            </a>
                            <a href="#" class="categoria-artigo" style="background: #c600e3">EVENTOS</a>
                       </div>
     
                       <div class="col-md-12 sub-article">
                             <a href="#">
                                  <img src="../static/js/holder.js/sky/100x96/#fff/auto/">
                                  <p class="hora">
                                       <span class="glyphicon glyphicon-time"></span>
                                       publicado ha 2 semanas
                                  </p>
                                  <p class="titulo">TESTE DE GALERIA COM TODOS OS CARACTERES POSSIVEIS 124</p>
                            </a>
                            <a href="#" class="categoria-artigo" style="background: #ec0000">CONQUISTAS DOS ALUNOS</a>
                       </div>

                 </div>
