
                <!-- LOOP BY CATEGORY -->

                <div class="col-md-12 section" style="border-color: #FF0000">

                    <h2><a href="#" class="categoria">Conquistas dos Alunos</a></h2>

                    <div class="col-md-6 article">
                        <a href="#">
                            <figure>
                                <img src="../static/js/holder.js/sky/100%x250/#fff/auto/">
                                <figcaption>TESTE DE GALERIA </figcaption>
                            </figure>
                        </a>
                    </div>
        
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 sub-article">
                                <a href="#">
                                     <img src="../static/js/holder.js/sky/100x76/#fff/auto/">
                                     <p class="hora">
                                          <span class="glyphicon glyphicon-time"></span>
                                          publicado ha 2 semanas
                                     </p>
                                     <p class="titulo">TESTE DE GALERIA COM TODOS OS CARACTERES POSSIVEIS 124</p>
                                </a>
                            </div>
                            <div class="col-md-12 sub-article">
                                <a href="#">
                                     <img src="../static/js/holder.js/sky/100x76/#fff/auto/">
                                     <p class="hora">
                                          <span class="glyphicon glyphicon-time"></span>
                                          publicado ha 2 semanas
                                     </p>
                                     <p class="titulo">TESTE DE GALERIA COM TODOS OS CARACTERES POSSIVEIS 124</p>
                                </a>
                            </div>
                            <div class="col-md-12 sub-article">
                                <a href="#">
                                     <img src="../static/js/holder.js/sky/100x76/#fff/auto/">
                                     <p class="hora">
                                          <span class="glyphicon glyphicon-time"></span>
                                          publicado ha 2 semanas
                                     </p>
                                     <p class="titulo">TESTE DE GALERIA COM TODOS OS CARACTERES POSSIVEIS 124</p>
                                </a>
                            </div>
                        </div>
                    </div>
        
                </div><!-- section article -->
