{% load fullcalendar_tags %}
{% load portal %}
<aside class="col-md-4">
    <div class="row">

        {% pub_acessadas %}

        {% pub_destaque %}
    </div>

        <div class="col-md-12 aside">
            {% calendar_list %}
        </div> <br />
        
        <div class="col-md-12 aside">
            {% include "facebook.html" %}
        </div> <br />
        
        <div class="col-md-12 aside">
            {% include "google+.html" %}
        </div> <br />
            
        <div class="col-md-12 aside">
            {% include "twitter_feed.html" %}
        </div>

</aside>
